@mixin flex{
	display:-webkit-flex;
    display:-webkit-box;
    display:-moz-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: proxima nova, avenir, helvetica, sans-serif;
	background-color: #ffffff;
}

::-webkit-scrollbar {
    display: none;
}

a{
	color: inherit;
	text-decoration: none;
}

h2{
	word-wrap: break-word;
	font-size: 1.1em;
}

nav{
	width: 100%;
	height: 70px;
	position: fixed;
	background-color: #ffffff;
	overflow: hidden;
	position: fixed;
	transition-duration: 400ms;
	z-index: 4;
}

.nav-open{
	background-color: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.sub-menu{
	display: none;
}

.active{
	font-weight: 600;
	opacity: 0.3;
}

.active-slide-btn{
	opacity: 1;
}

.custom-logo-link img{
	height: 100%;
	width: auto;
}

.mobile-navbar-wrapper{
	.navbar-logo-wrapper{
		height: 30px;
	}
}

.flex-row{
	display: flex;
	@include flex;
	flex-direction: column;
	// justify-content: space-around;
}

.col{
	width: 100%;
	padding: 1em 3em;
}

.fa{
	cursor: pointer;

	&:hover{
		opacity: 0.4;
	}
}

.default-logo{
	width: 100%;
	height: auto;
}

.mobile-navbar-wrapper{
	padding-top: 20px;
	width: 80%;
	margin: 0 auto;
	display: flex;
	@include flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.mobile-navbar-logo{
	height: 30px;
}


li{
	list-style-type: none !important;
}

.mobile-navbar-menu{
	width: 100%;
	overflow: hidden;
	// padding-left: 50px;
	margin-top: 30px;
	text-align: center;

	li{
		font-size: 1.6em;
		padding: 30px 0px;
		font-weight: 600;
		letter-spacing: 1px;
	}
}

.master-container{
	width: 100%;
}

.featured-projects{
	z-index: 1;
	width: 100%;
	height: 90vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
}

#mobile-feature-slide-show{
	img{
		height: 100%;
		width: auto;
	}
}

.featured-project-image{
	height: 100%;

	img{
		height: 100%;
		width: auto;
	}
}

.featured-project-description{
	position: absolute;
	h2{
		font-size: 1.5em;
		letter-spacing: 0.3em;
		margin-bottom: 5px;
	}

	p{
		font: 1em;
		letter-spacing: 3px;
	}
}

.mobile-featured-buttons-wrapper{
	color: #2f2f2f;
	width: 100%;
	height: 10vh;
	width: 30%;
	margin: 0 auto;
	font-size: 0.8em;
	display: flex;
	@include flex;
	margin-bottom: 25px;
	justify-content: space-between;
	align-items: center;
}

.mobile-slide-wrapper{
	position: absolute;
	display: flex;
	@include flex;
    align-items: center;
    justify-content: center;

	a{
		position: absolute;
	    display: flex;
		@include flex;
	    align-items: center;
	    justify-content: center;
		height: 90vh;
	}
}

.page-detail-wrapper{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 70px;

	.hidden-form{
		display: none;
	}

	a{
		opacity: 1;
		font-weight: 600;
	}

	p{
		margin-top: 1em;
	}
}

.page-title{
	width: 100%;
	text-align: center;
	letter-spacing: 10px;
	text-transform: uppercase;
}

// Project gallery styles

.projects-container{
	margin-top: 30px;
	width: 100%;
}

.project-thumb-wrapper{
	opacity: 0;
	transition-duration: 400ms;
}

.project-thumb-image{
	text-align: center;
	// height: 300px;
	object-fit: cover;
	overflow: hidden;

	img{
		width: 100%;
		object-position: 0 0;
	}
}

.project-thumb-description{
	text-align: center;
	margin-top: 15px;
}

.project-thumb-title{
	letter-spacing: 3px;
	font-weight: 600;
}

.project-thumb-date{
	font-size: 0.8em;
	letter-spacing: 4px;
	color: #454545;
}

// Single project page styles
.page-master-container{
	width: 100%;
	padding-top: 90px;
	text-align: center;

	.page-date{
		opacity: 0.5;
	}
}

.project-page-content-container{
	margin-top: 20px;

	p{
		margin: 10px 0px;
	}

	img{
		max-width: 100%;
		height: auto;
		margin-bottom: 10px;
	}
}

.project-page-title{
	width: 80%;
	word-wrap: break-word;
	margin: auto;
	font-size: 2em;
	letter-spacing: 6px;
}

.project-page{
	.project-thumb-wrapper{
		opacity: 1;
	}
}

// Team styles

.team-member-image{
	width: 170px;
	height: 170px;
	border-radius: 100%;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 20px;

	img{
		width: 100%;
		height: auto;
	}
}

.team-page-details{

	width: 80%;
	margin: 0 auto;
	h2{
		width: 80%;
		margin: 0 auto;
		margin-bottom: 5px;
		text-transform: uppercase;
		word-wrap: normal;
		letter-spacing: 6px;
		font-size: 1.2em;
	}

	p{
		font-size: 0.9em;
		line-height: 25px;
	}
}

.team-member-wrapper{
	margin-bottom: 3em;
}

.sub-header{
	font-weight: 600;
	margin-bottom: 15px;
	opacity: 0.4;
}

.single-team-member-image{
	width: 170px;
	height: 170px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 1em;
	border-radius: 100%;

	img{
		width: 100%;
		height: auto;
	}
}

.single-team-page-details{
	width: 70%;
	margin: 0 auto;
}

.single-team-page-title{
	word-wrap: normal;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 2.1em;
}

.single-team-member-content{
	line-height: 27px;
}

// Contact Template Styles

.contact-page-wrapper{

	.page-detail-wrapper{
		margin-bottom: 2em;
		width: 80%;
	}

	.contact-form-wrapper{
		width: 80%;
		margin: 0 auto;
	}
}

textarea{
	display: block;
	resize: vertical;
}

.form-input{
	width: 100%;
	margin-bottom: 2em;
	display: block
}

.input-field{
	width: 100%;
	font-weight: 600;
	letter-spacing: 0.2em;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #1a1a1a;
	outline: none;
	margin-bottom: 0.5em;
	padding-bottom: 0.9em;
	text-transform: uppercase;
	transition-duration: 100ms;

	&::placeholder{
		opacity: 0.9;
	}
}

.button{
	color: white;
	outline: none;
	border: 1.5px solid #1a1a1a;
	border-radius: 0.5em;
	display: inline-block;
	margin: auto;
	background-color: #1a1a1a;
	padding: 10px 30px;
	font-size: 1em;
	letter-spacing: 0.4em;
	transition-duration: 300ms;
}

.form-error{
	width: 100%;
	text-align: left;
	color: #d71616;
	font-size: 0.8em;
}

.form-filled{
	opacity: 0.4;
	pointer-events: none;
}

// Services Styles

.service-page-wrapper{
	padding-top: 330px;
	position: relative;

}
.service-image-wrapper{
	position: absolute;
	top: 0;
	width: 100%;
	height: 400px;
	overflow: hidden;

	img{
		width: 100%;
		height: auto;
	}
}

.service-no-image{
	height: 80vh;
	display: flex;
	@include flex;
	align-items: center;
}

.service-list-item{
	width: 80%;
	margin: 0 auto;
	border-radius: 0.6em;
	padding: 1em 1em;
	margin-bottom: 2em;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-weight: 600;
	border: 2.5px solid #000000;
}

.get-in-touch-btn{
	margin: 2em 0em;
}


// Footer styles

footer{
	padding-bottom: 80px;
	padding-top: 50px;
}

.social-media-icons{

	li{
		display: inline-block;
	}
}

.footer-content-wrapper{
	width: 80%;
	margin: 0 auto;
	display: flex;
	@include flex;
	justify-content: space-between;
	align-items: center;
}

.footer-social-links{
	li{
		font-size: 1.3em;
		display: inline-block;
		margin-right: 20px;
	}
	li:last-child{
		margin-right: 0;
	}
}

.pagination{
	font-size: 0.8em;
	letter-spacing: 1px;
	font-weight: 500;

	&:hover{
		opacity: 0.4;
	}
}

.pageNavigation{
	width: 70%;
	margin: 0 auto;
	margin-top: 1em;
	text-align: center;
}

.pagination{
	font-size: 0.7em;
	letter-spacing: 1px;
	font-weight: 600;
	opacity: 0.7;
	padding-bottom: 3px;
	margin: 0em 1.4em;
	border-bottom: 2px solid #3e3e3e;
}


.next-page{
	float: left;
}

.prev-page{
	float: right;
}

// Error page styles
.error-page{
	h2{
		font-size: 3em;
	}
}

.material-icons{
	cursor: pointer;
	transition-duration: 200ms;
	&:hover{
		opacity: 0.4;
	}
}

.slide-btn{
	opacity: 0.3;
	transition-duration: 200ms;

	&:hover{
		opacity: 1;
		font-size: 0.9em !important;
	}
}

.active-slide-btn{
	opacity: 1;
	font-size: 1em;
}

#slide-2, #slide-3{
	display: none;
}

#mobile-slide-2, #mobile-slide-3{
	display: none;
}

.no-slide{
	width: 80%;
	margin: auto;
	display: block;
	text-align: center;
	position: relative;
}

// Hide desktop styles
.landing-page-bottom-nav, .navbar-item-wrapper, .featured-buttons-wrapper, #feature-slide-show, .full-footer, .team-member-description{
	display: none;
}

// ========================
// Responsive Code for mobile

@media screen and (min-width: 470px){

	nav{
		background-color: transparent;
		height: 13vh;
		overflow: visible;
		top: 0;
		display: flex;
		@include flex;
		align-items: center;
		z-index: 5;
	}

	.navbar-item-wrapper{
		display: flex;
		@include flex;
		justify-content: space-between;
		width: 93%;
		margin: 0 auto;
		align-items: center;

		.fa{
			font-size: 1.7em;
		}
	}

	.navbar-menu{
		display: none;

		li{
			font-weight: 600;
			letter-spacing: 4px;
			display: inline-block;
			font-size: 0.7em;
			margin-right: 30px;
			text-transform: uppercase;

			&:last-child{
				margin-right: 0px;
			}

			&:hover ul{
				display: block;
			}
		}
	}

	.flex-row{
		display: flex;
		@include flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.col{
		width: 31%;
		margin: 0.8em;
		padding: 0 0;
	}

	.navbar-logo-wrapper{
		height: 50px;
	}

	.go-down-btn,.footer-to-top-btn{
		i{
			font-size: 2em;
		}
	}

	.landing-page-content{
		height: 74vh;
		padding: 30px 0px;
		width: 100%;
		margin-top: 13vh;
		display: flex;
		@include flex;
		align-items: center;
	}

	.landing-page-bottom-nav{
		height: 13vh;
		width: 93%;
		padding-top: 20px;
		margin: auto;
		display: flex;
		@include flex;
		justify-content: space-between;
		transition-duration: 600ms;

		li{
			display: inline-block;
			font-size: 1.3em;
			margin-right: 20px;
		}
	}

	.featured-projects{
		width: 90%;
		height: 100%;
		overflow: hidden;
		display: flex;
		@include flex;
		align-items: center;
		background-color: transparent !important;
	}

	#feature-slide-show{
		display: flex;
		@include flex;
		justify-content: center;
		position: relative;
		width: 100%;
		height: 100%;
	}

	.slide-wrapper{
		width: 100%;

		a{
			position: absolute;
			left: 0;
			display: flex;
			@include flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
		}
	}

	.featured-project-image{
		width: 100%;
		position: absolute;
		left: 0;
		display: flex;
		@include flex;
		align-items: center;
		transition-duration: 300ms;

		&:hover{
			opacity: 0.8;
		}

		img{
			width: 100%;
			height: auto;
		}
	}

	.featured-project-description{
		// word-wrap: break-word;
		color: white;
		// text-shadow: 0px 1px rgba(#000000, 0.10);
		text-align: center;
		width: 60%;
		// right: 0;
		h2{
			font-size: 3em;
			letter-spacing: 0.5em;
			margin-bottom: 10px;
		}

		p{
			font: 1em;
			letter-spacing: 3px;
		}
	}

	.featured-buttons-wrapper{
		width: 40%;
		padding-right: 60px;
		text-align: right;
		// position: relative;
		display: block;

		.fa{
			font-size: 0.7em;
		}
		div{
			margin-bottom: 30px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	.projects-wrapper{
		width: 80%;
		margin: auto;
		padding-top: 20px;

		.page-title{
			font-size: 1.4em;
		}
	}

	.project-thumb-image{
		height: 500px;

		img{
			height: 100%;
			width: auto;
		}
	}

	.project-thumb-wrapper{
		display: flex;
		@include flex;
		height: 500px;
		overflow: hidden;
		align-items: center;
		justify-content: center;
		position: relative;
		cursor: pointer;
	}

	.project-thumb-link{
		position: relative;
	    display: flex;
		@include flex;
	    align-items: center;
	    justify-content: center;
	}

	.project-thumb-description{
		color: white;
		position: absolute;
		display: none;

		.project-thumb-date{
			color: white;
		}
	}

	.project-thumb-overlay{
		display: none;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.8;
		background-color: #000000;
	}

	// Project Page Template Styles

	.page-master-container{
		width: 70%;
		margin: 0 auto;
		padding-top: 115px;
		text-align: center;
	}

	.project-master{
		width: 80%;
	}

	.main-content{
		width: 100%;
	}

	.project-page-details{
		width: 100%;
		margin-bottom: 20px;

		.page-date{
			opacity: 0.5;
		}
	}

	.project-page-content-container{
		margin: auto;
	    margin-top: 0;
	    margin-bottom: 1.5em;
	    width: 85%;
		padding-bottom: 0.5em;
		border-bottom: 0.1em solid #141414;

		p{
			margin: 30px 0px;
		}

		img{
			max-width: 100%;
			height: auto;
			margin-bottom: 10px;
		}
	}

	.page-title{
		font-size: 1.8em;
	}

	.project-page-title{
		width: 80%;
		word-wrap: break-word;
		margin: auto;
		font-size: 2em;
		letter-spacing: 6px;
	}

	// Team Page Template Styles
	.team-member-wrapper{
		margin-bottom: 6em;
		width: 100%;
		overflow: auto;
	}

	.team-member-image{
		float: right;
		right: 0;
		height: 300px;
		width: 300px;
	}

	.team-page-details{
		text-align: left;
		width: 100%;

		h2{
			width: 100%;
			margin-bottom: 5px;
			text-transform: uppercase;
			word-wrap: normal;
			letter-spacing: 6px;
			font-size: 2.4em;
		}

		p{
			font-weight: 600;
		}
	}

	.team-page-details, .team-member-image{
		transition-duration: 300ms;

		&:hover{
			opacity: 0.5;
		}
	}

	.team-member-description{
		display: block !important;
		text-align: left;
		width: 50%;
		line-height: 25px;
		font-size: 0.9em;

		a{
			opacity: 0.4;
		}
	}

	// Footer styles
	.full-footer{
		display: block;
	}

	.footer-section{
		width: 100%;
		height: auto;
		display: flex;
		@include flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 60px;
		text-align: center;

		ul{
			text-align: center;
			width: 100%;
		}
	}

	.full-footer-btm{
		ul{
			width: 100%;
			display: flex;
			@include flex;
			justify-content: space-between;
		}

	}

	.footer-to-top-btn{
		width: 50px;
		text-align: right;
	}

	.footer-copyright{
		color: #000000;
		font-size: 0.7em;
		font-weight: 600;
	}

	.pageNavigation{
		width: 80%;
		margin: 3em 0.8em;
		margin: 0 auto;


	}

	.pagination{
		font-size: 0.8em;
		letter-spacing: 1px;
		font-weight: 500;
		font-size: 0.8em;
		letter-spacing: 1px;
		font-weight: 600;
		opacity: 1;
		padding-bottom: 5px;
		border-bottom: 3px solid #3e3e3e;

		&:hover{
			opacity: 0.4;
		}

		.fa:hover{
			opacity: 1;
		}
	}


	.page-detail-wrapper{
		width: 80%;
		margin: 0 auto;
		margin-bottom: 10em;

		p{
			opacity: 1;
			margin-top: 1em;
		}
	}

	.next-page{
		float: left;
	}

	.prev-page{
		float: right;
	}

	.split-page{
		margin-top: 3em;
		display: flex;
		@include flex;
		align-items: flex-start;

		.page-detail-wrapper{
			padding-right: 5em;
			text-align: left;
			width: 50%;
		}

		h2{
			text-align: left;
		}
	}

	.button{

		cursor: pointer;
		&:hover{
			opacity: 0.4 !important;
		}
	}

	// contact page style
	.contact-page-wrapper{

		.contact-form-wrapper{
			width: 50%;
		}
	}

	// Services styles
	.service-page-wrapper{
		padding-top: 0;
		position: relative;

		.hidden-form{
			display: none;
		}
	}

	.service-image-wrapper{
		position: absolute;
		width: 400px;
		height: 500px;
		overflow: hidden;
		position: inherit;

		img{
			width: 100%;
			height: auto;
		}
	}

	.service-list-container{
		width: 50%;
	}

	.service-list-item{
		position: relative;
		width: 80%;
		height: auto;
		margin: 0 auto;
		padding: 1.3em 1em;
		margin-bottom: 2em;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		border: 2px solid #000000;
		transition-duration: 300ms;
		cursor: pointer;

		&:hover{
			background-color: #000000;
			color: white;
		}
	}

	// Hamburger mobile-navbar-menu
	#hamburger-wrapper{
		width: 100%;
		margin: auto;
		width: 40px;
		height: 20px;
		padding: 0.5em;
		cursor: pointer;
		position: relative;
		z-index: 5;
		text-align: center;

			&:hover{
				.burger-line{
					width: 100% !important;
				}
			}
	}

	.burger-line{
		width: 110%;
		height: 5px;
		background-color: #1f1f1f;
		// margin-bottom: 4px;
		transition-duration: 200ms;
		position: absolute;
		top: 0px;
		right: 0px;
	}


	.mdl{
		top: 15px;
		width: 60%;
	}

	.rotate1{
		transform: rotate(45deg);
	}

	.rotate2{
		transform: rotate(-45deg);
	}

	.theme-by{
		width: 50px;
		text-align: left;
		font-weight: 600;
	}

	// sub menu styles
	.sub-menu{
		background-color: #ffffff;
	    padding-top: 15px;
	    font-size: 1.6em;
		position: absolute;
		padding-left: 1em;
		padding-right: 1em;
		display: none;
		width: min-content;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0);

		li{
			letter-spacing: 1px;
			text-transform: lowercase;
			float: left;
			width: 100%;
			margin-bottom: 15px;

			&:hover{
				opacity: 0.3;
			}
		}
	}

	.active-slide-btn{
		opacity: 1;
	}

	.no-slide{
		background-color: #bababa !important;
		height: 100%;
		display: flex;
	    justify-content: center;
	    align-items: center;
	}

	.default-logo{
		width: 100%;
		height: auto;
	}

	.site-title-logo{
		color: #000000;
	}


	// Hide Mobile Elements
	.mobile-navbar-wrapper, .mobile-featured-buttons-wrapper, .mobile-footer, #mobile-feature-slide-show{
		display: none;
	}

}

@media screen and (min-width: 470px) and (max-width: 1024px){
	.featured-project-description h2{
		font-size: 2em !important;
	}

	.navbar-menu li{
		font-size: 0.6em;
		letter-spacing: 2px;
	}

	.col{
		width: 46%;
		margin: 0.6em;
		padding: 0 0;
	}



}
